In [3]:
import pandas as pd

In [117]:
df1=pd.read_csv("/Users/corentinpla/Documents/Statap/transactions_A.csv")
df2=pd.read_csv("/Users/corentinpla/Documents/Statap/transactions_B.csv")

In [118]:
#a-t-on le droit de se servir de "sender_account_id" et de "receiver_account_id"?

df1=df1.drop(['tx_id', 'sender_account_id', 'receiver_account_id',"is_alert_solo","is_alert_pooled"],axis=1)
df2=df2.drop(['tx_id', 'sender_account_id', 'receiver_account_id',"is_alert_solo","is_alert_pooled"],axis=1)

In [119]:
df1["sender_zip_code"]=df1["sender_zip_code"].apply(lambda x:str(x))
df1["receiver_zip_code"]=df1["receiver_zip_code"].apply(lambda x:str(x))
df1["tx_amount"]=df1["tx_amount"].apply(lambda x:str(x))

df2["sender_zip_code"]=df2["sender_zip_code"].apply(lambda x:str(x))
df2["receiver_zip_code"]=df2["receiver_zip_code"].apply(lambda x:str(x))
df2["tx_amount"]=df2["tx_amount"].apply(lambda x:str(x))

In [120]:
df1_bis=df1.copy()
df2_bis=df2.copy()

In [27]:
#La clée primaire est bien "tx_id"
print(df1.shape)
print(df1["tx_id"].drop_duplicates().shape)
print(df2.shape)
print(df2["tx_id"].drop_duplicates().shape)

(837981, 20)
(837981,)

In [25]:
#nombre de transactions dans les deux dataframes est ce qu'on est censé avoir accés à cette information ?? 
df2[df2["tx_id"].isin(df1["tx_id"])].shape

(212649, 20)

In [31]:
#selection des transactions dans les deux dataframes 
df_both_2=df2[df2["tx_id"].isin(df1["tx_id"])].shape 
df_both_1=df1[df1["tx_id"].isin(df2["tx_id"])].shape

In [32]:
def levenshtein(seq1, seq2):
    size_x = len(seq1) + 1
    size_y = len(seq2) + 1
    matrix = np.zeros ((size_x, size_y))
    for x in range(size_x):
        matrix [x, 0] = x
    for y in range(size_y):
        matrix [0, y] = y

    for x in range(1, size_x):
        for y in range(1, size_y):
            if seq1[x-1] == seq2[y-1]:
                matrix [x,y] = min(
                    matrix[x-1, y] + 1,
                    matrix[x-1, y-1],
                    matrix[x, y-1] + 1
                )
            else:
                matrix [x,y] = min(
                    matrix[x-1,y] + 1,
                    matrix[x-1,y-1] + 1,
                    matrix[x,y-1] + 1
                )
    return (matrix[size_x - 1, size_y - 1])

In [ ]:
#retourne liste de sub Dataframes dans le cas de plusieurs pivots
#L : liste des pivots (colonnes)
def get_pivot(L): 
    return()

In [43]:
def pivot(piv,df_A,df_B):
    L_df=[]
    L_A=df_A[piv].drop_duplicates()
    L_B=df_B[piv].drop_duplicates()
    L_piv=list(set(L_A) & set(L_B))


    for x in  (L_piv):
        df_A_piv=df_A[df_A[piv]==x]
        df_B_piv=df_B[df_B[piv]==x]
        L_df.append((df_A_piv,df_B_piv))
    
    return (L_df)

In [128]:
#dfA et dfB sont déjà des sub dataframes 
def get_string(dfA,dfB,pivot):
    dfA_bis=dfA.drop(pivot,axis=1)
    dfB_bis=dfB.drop(pivot,axis=1)
    n=len(dfA_bis.columns)
    dfA_bis["s"]=dfA_bis[dfA_bis.columns[0]]
    dfB_bis["s"]=dfB_bis[dfB_bis.columns[0]]

    for k in range  (1,n) :
        dfA_bis["s"]=dfA_bis["s"]+dfA_bis[dfA_bis.columns[k]]
        dfB_bis["s"]=dfB_bis["s"]+dfB_bis[dfB_bis.columns[k]]
    
    return(dfA_bis,dfB_bis)

In [126]:
#dfA et dfB sub dataframes qui ont la colonne s
def get_distance_levenstein(dfA,dfB,rowA,rowB):
    sA=dfA.at["s",rowA]
    sB=dfB.at["s",rowB]
    return(levenshtein(sA,sB))

In [ ]:
#Comment on gère le fait que la transaction n'est pas forcement dans les deux dataframes 
def get_min_levenstein(dfA,dfB):
    for x in dfA.index :
        for y in dfB.index :

In [67]:
df1_bis=df1.copy()

In [72]:
df1_bis["s"]=df1_bis["receiver_last_name"]+df1_bis["receiver_first_name"]

In [71]:
df1_bis["receiver_last_name"]

0         Alvarez
1           Gable
2         Spencer
3            Cole
4           Fiume
           ...
837976    Linkous
837977    Cuadras
837978    Johnson
837979      Wynne
837980      Bonar
Name: receiver_last_name, Length: 837981, dtype: object

In [73]:
df1_bis["s"]

0          AlvarezMaritn
1            GableJoseph
2         SpencerShelley
3            ColeAmbrose
4              FiumeJose
               ...
837976    LinkousRichard
837977       CuadrasRuth
837978        JohnsonVan
837979      WynneRichard
837980      BonarLynelle
Name: s, Length: 837981, dtype: object

In [74]:
df1_bis.columns

Index(['tx_amount', 'timestamp', 'tx_type', 'sender_bank_id',
       'sender_first_name', 'sender_last_name', 'sender_country_code',
       'sender_birth_date', 'sender_zip_code', 'receiver_bank_id',
       'receiver_first_name', 'receiver_last_name', 'receiver_country_code',
       'receiver_birth_date', 'receiver_zip_code', 'is_alert_solo',
       'is_alert_pooled', 's'],
      dtype='object')

In [75]:
df1_bis.dtypes

tx_amount                float64
timestamp                 object
tx_type                   object
sender_bank_id            object
sender_first_name         object
sender_last_name          object
sender_country_code       object
sender_birth_date         object
sender_zip_code            int64
receiver_bank_id          object
receiver_first_name       object
receiver_last_name        object
receiver_country_code     object
receiver_birth_date       object
receiver_zip_code          int64
is_alert_solo               bool
is_alert_pooled             bool
s                         object
dtype: object

In [68]:
df2_bis=df2.copy()

In [ ]:

def matching(dfA,dfB):

In [38]:
list(set([1,2,3,4,5]) & set([2,3,4]))

[2, 3, 4]

In [45]:
L_sender_first_name=pivot("sender_first_name",df1,df2)

In [46]:
len(L_sender_first_name)

1439

In [52]:
L=list(set(df1["sender_first_name"].drop_duplicates()) & set(df2["sender_first_name"].drop_duplicates()))

In [53]:
len(L)

1439

In [48]:
df1["sender_first_name"].drop_duplicates().count()

1726

In [49]:
df2["sender_first_name"].drop_duplicates().count()

1551

In [7]:
df1.head()

,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,sender_country_code,sender_birth_date,sender_zip_code,receiver_bank_id,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled
0,3109,6822.0,NaN,229.97,2018-03-03,WIRE,A,Marie,Lee,FR,1937-08-23,27800,C,Maritn,Alvarez,FR,1930-08-29,89160,False,False
1,1829,NaN,9011.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,FR,1962-09-07,35660,A,Joseph,Gable,FR,1933-12-23,62116,False,False
2,1830,NaN,7140.0,117.83,2018-03-03,WIRE,B,Kurt,Brignac,FR,1962-09-07,35660,A,Shelley,Spencer,FR,1944-12-23,34360,False,False
3,1831,NaN,1822.0,526.02,2018-03-03,WIRE,C,Shelly,Jethva,CN,1961-06-29,65230,A,Ambrose,Cole,FR,1958-04-07,3800,False,False
4,1832,5390.0,NaN,35.79,2018-03-03,WIRE,A,Judy,James,FR,1942-04-08,42140,C,Jose,Fiume,FR,1981-08-28,66820,False,False

In [17]:
df1["tx_id"].drop_duplicates().shape

(837981,)

In [12]:
df=df1[df1["sender_account_id"]==6822]

In [14]:
df.shape

(24, 20)

In [9]:
df1.shape

(837981, 20)

In [11]:
df2.shape

(458066, 20)

In [8]:
df2.head()

,tx_id,sender_account_id,receiver_account_id,tx_amount,timestamp,tx_type,sender_bank_id,sender_first_name,sender_last_name,sender_country_code,sender_birth_date,sender_zip_code,receiver_bank_id,receiver_first_name,receiver_last_name,receiver_country_code,receiver_birth_date,receiver_zip_code,is_alert_solo,is_alert_pooled
0,1364,NaN,595.0,129.41,2018-03-03,WIRE,C,Jonathan,Smith,FR,1944-08-29,13300,B,Shannon,Bailey,FR,1973-06-02,54210,False,False
1,4318,785.0,8854.0,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,B,John,Adkins,FR,1958-11-07,20171,False,False
2,4319,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,A,Jason,Arsenault,FR,1935-03-03,51240,False,False
3,2549,7795.0,NaN,189.25,2018-03-03,WIRE,B,Mark,Sauders,FR,1920-12-31,91640,C,Nicholas,Omersa,FR,1921-06-29,36290,False,False
4,4320,785.0,NaN,129.66,2018-03-03,WIRE,B,Harry,Alfano,FR,1939-02-03,25250,A,Wilhelmina,Eberhardt,FR,1941-04-25,77440,False,False